.course-card {
  width: 250px;
  padding: 20px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.4s ease;
}

.course-card:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.course-image {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 10px;
}

.course-card h3 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.course-card p {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}